<!-- 
        navbar => Transforma a tag em navbar
        navbar-light => cor dos textos da navbar
        navbar-dark (dark <=> primary <=> light) => cor da navbar
    -->
    <nav class="navbar navbar-light bg-primary">
        <!-- 
            navbar-brand => alinha a imagem a esquerda
        -->
        <a class="navbar-brand" href="/">
            <img src="/img/questions.png" alt="" width="50px" height="50px">
        </a>
    </nav>